:root {
  --white: #fdfdfd;
  --primary: #495e57;
  --primary2: #f3ce14;
  --secondary: #ee9972;
  --secondary2: #fbdabb;
  --highlight: #edefee;
  --highlight2: #333333;
  --black: #212121;
  --red: #ee3a3a;
  --light: #f8f9fa;
}
button:hover,
input[type="submit"] {
  cursor: pointer;
}
.burger :is(.top, .bot, .mid) {
  height: 10px;
  fill: var(--highlight2);
  transition: all 0.3s ease;
  transform-origin: center;
}
.burger:hover :is(.top, .bot) {
  width: 100px;
  x: 0px;
}

.active-burger .mid {
  width: 0px;
}
.active-burger :is(.top, .bot) {
  width: 100px;
  x: 0px;
  y: 46px;
}

.active-burger:hover .top {
  transform: rotate(-45deg);
}
.active-burger:hover .bot {
  transform: rotate(45deg);
}
.header {
  position: fixed;
  font-size: 1.2rem;
  top: 0;
  z-index: 2;
  padding: 0 1rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 11vh;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-weight: bold;
}
.header span {
  color: var(--primary2);
}
.header-space {
  width: 100vw;
  height: 11vh;
}
.phone-navigation {
  position: absolute;
  top: 0%;
  left: -100%;
  height: 5088px;
  width: 40%;
  background-color: var(--highlight);
  z-index: 2;
  transition: all 0.3s linear;
  overflow-y: scroll;
}
.phone-navigation a {
  font-size: 24px;
}
.phone-navigation ul {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}
.desktop-navigation {
  display: none;
}
.header ul > li {
  display: inline-block;
  padding: 0 1rem;
}
.header a {
  text-align: center;
  font-weight: bold;
  display: block;
  border-radius: 8px;
}
.cart {
  position: relative;
  scale: 1;
  filter: grayscale(100%);
}
.active-link {
  color: var(--primary2);
}
.active-menu {
  left: 0;
}
.back-drop {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.back-drop-active {
  opacity: 1;
  z-index: 2;
  pointer-events: all;
}
.hero {
  background-color: var(--primary);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 5vh 10vw 5vh 5vw;
  color: var(--highlight);
}
.image {
  max-width: 100%;
  max-height: 100%;
}
.hero div:first-child {
  width: 50vw;
}
.hero h1 {
  color: var(--primary2);
  font-size: 4rem;
}
.hero span {
  font-size: 3rem;
  color: var(--white);
}
.hero p {
  margin-top: 1.5rem;
  font-size: 1.7rem;
  color: var(--white);
}
.hero aside {
  margin-top: 5rem;
  width: 30vw;
}
aside > img {
  border-radius: 16px;
}
.hero .button-primary {
  position: absolute;
  bottom: 3rem;
}
.hero-image {
  animation: rotation 90s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.specials {
  min-height: 116vh;
  padding: 2rem 1rem;
}
.specials h3 {
  color: var(--black);
  font-size: 2rem;
  font-weight: 600;
}
.specials h1 {
  color: var(--black);
  font-size: 3rem;
}
.specials h4 {
  cursor: pointer;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Karla";
  position: absolute;
  bottom: 1rem;
}
.specials > div {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.specials div:nth-child(2) {
  justify-content: center;
}
.specials span {
  color: var(--secondary);
  font-weight: 400;
}
.card-container {
  padding: 20px;
}
.card-container > div {
  display: flex;
  justify-content: space-between;
}
.card-container > * {
  margin-bottom: 20px;
}
.specials article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 300px;
  min-height: 80vh;
  background-color: var(--highlight);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.specials article:hover {
  transform: scale(1.1);
}
.specials .image {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 32vh;
}
.testimonials {
  min-height: 116vh;
  padding: 8rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.testimonials > div {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonials h4 {
  font-size: 1.4rem;
}
.testimonials h2 {
  color: var(--primary2);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 7rem;
}
.testimonials article {
  width: 15rem;
  max-height: 17rem;
  background-color: var(--white);
  display: grid;
  grid-template-areas:
    "R R R"
    "I N ."
    "RT RT RT";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.5rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.checked {
  color: var(--primary2);
}
.testimonials h3 {
  grid-area: R;
}
.testimonials img {
  grid-area: I;
}
.testimonials h4 {
  grid-area: N;
}
.testimonials p {
  grid-area: RT;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.testimonials article:nth-child(even):focus {
  animation: from-right-to-center 0.5s linear forwards;
}
.testimonials article:nth-child(odd):focus {
  animation: from-left-to-center 0.5s linear forwards;
}
.testimonials article:focus p {
  font-size: 0.7rem;
  display: block;
}
@keyframes from-right-to-center {
  0% {
  }
  50% {
    transform: translate(-30%, 10%);
  }
  100% {
    transform: scale(1.7) translate(-30%, 10%);
  }
}
@keyframes from-left-to-center {
  0% {
  }
  50% {
    transform: translate(30%, 10%);
  }
  100% {
    transform: scale(1.7) translate(30%, 10%);
  }
}
.overview {
  min-height: 93vh;
  width: 100%;
  padding: 7rem 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.overview h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.overview span {
  font-size: 3rem;
  font-weight: 400;
}
.overview p {
  font-size: 1.5rem;
  font-weight: 600;
}
.overview div:first-child {
  max-width: 70vw;
  margin-bottom: 5rem;
}
.overview img {
  width: 35vw;
  height: 60vh;
}
.overview img:first-child {
  position: absolute;
  z-index: 1;
}

.overview img:nth-child(1) {
  transform: translate(5rem, -5rem);
}
.overview img:nth-child(2) {
  transform: translate(-5rem, 5rem);
}
.input-container label {
  color: var(--black);
}
.footer {
  padding: 6rem 0rem;
  width: 100%;
  min-height: 23vh;
  background-color: var(--white); /* */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.footer h2 {
  font-weight: 600;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-block > h3:first-child {
  display: inline-block;
  height: 4rem;
  width: 7rem;
}
.footer a {
  color: var(--highlight2);
}
.footer li,
.footer p {
  padding: 0.2rem 0;
  color: var(--highlight2);
}
.footer img {
  width: 8rem;
}
.footer-block {
  width: 18vw;
}
.footer-block .fa {
  font-size: 30px;
  margin-right: 0.7rem;
}
.footer-block .fa:hover {
  color: var(--primary2);
}
/*//////////////////////////////////////////////////////////////*/
form > div {
  display: flex;
  gap: 1rem;
}
.form-cont {
  position: relative;
  height: 100vh;
  display: flex;
  /* margin: 2rem 1rem 2rem 1rem; */
  background-image: url(assets/overview-photo-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.form-cont form {
  margin: 3rem 0rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

label {
  display: block;
  font-size: 20px;
  padding-top: 1rem;
}
input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 0.5rem;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--primary2);
  border-radius: 16px;
}
.form-cont input[type="submit"] {
  margin: 2rem 0rem 2rem 0;
  width: 90%;
}
.form-cont input[type="submit"]:hover {
  border: 1px solid transparent;
}
.confirmed-background {
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.confirmed-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  padding: 3rem;
  border-radius: 16px;
  color: #edefee;
}
.confirmed-main .title {
  font-size: 2rem;
}
.confirmed-active {
  z-index: 2;
  opacity: 1;
}
.form-error {
  color: var(--red);
  font-weight: 600;
}
.form-error::after {
  content: "*";
}
.menu-header {
  color: var(--black);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 10rem 0 15rem 0;
  background-image: url(assets/overview-photo-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.highlight-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.5);
  background-image: linear-gradient(
    to top,
    var(--light),
    transparent,
    var(--light)
  );
}
.highlight-overlay ~ * {
  z-index: 1;
}
.menu-header h1 {
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
}
.menu-header p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.scroll-to-menu {
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 65px;
  height: 100px;
  font-size: 90px;
  filter: drop-shadow(0 0 5px rgba(88, 88, 88, 0.61));
}
.arrow {
  left: 25%;
  top: 20%;
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  transform: rotate(-135deg);
}
.scroll-to-menu .arrow {
  position: absolute;
  animation: scroll-button 1s ease-out alternate infinite;
  color: var(--primary);
}
.arrow:nth-child(2) {
  top: 40%;
  animation-delay: 0.15s;
}
.arrow:nth-child(3) {
  top: 60%;
  animation-delay: 0.35s;
}
@keyframes scroll-button {
  0% {
    transform: rotate(-135deg);
    border-color: gray;
    border-width: 5px;
  }
  100% {
    transform: rotate(-135deg) translate(50%, 50%);
  }
}
.menu-categories {
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  border-bottom: 4px dashed rgba(0, 0, 0, 0.2);
  border-top: 4px dashed rgba(0, 0, 0, 0.2);
}
.menu-categories::-webkit-scrollbar {
  display: none;
}
.menu-categories button {
  font-size: 22px;
  border: none;
  border-radius: 4px;
  padding: 8px 30px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  font-weight: bold;
  color: var(--white);
}
.menu-categories button:hover {
  color: var(--black);
  border: 1px solid var(--primary2);
  background-color: var(--primary2);
}
.menu-categories .active-category {
  color: var(--black);
  border: 1px solid var(--primary2);
  background-color: var(--primary2);
}
.menu-dishes-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.menu-item {
  position: relative;
  width: 530px;
  height: 230px;
  border-top-left-radius: 130px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 130px;
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.menu-item h2 {
  font-size: 2.5rem;
}
.menu-item p {
  font-size: 1.1rem;
  padding: 0.5rem;
}
.menu-item img {
  display: inline-block;
  border-top-left-radius: 130px;
  border-bottom-left-radius: 16px;
  max-width: 50%;
  height: 100%;
}
.menu-item div:nth-child(2) {
  flex: 1;
  margin: 1rem;
}
.menu-item i {
  padding: 1rem;
  font-style: normal;
  font-weight: bold;
  color: var(--primary2);
  font-size: 20px;
}
.menu-item i::after {
  content: "$";
}
@media screen and (min-width: 900px) {
  .header {
    padding: 25px 40px 25px 50px;
  }
  .phone-icon {
    display: none;
  }
  .desktop-navigation {
    display: block;
  }
  .desktop-navigation a:hover {
    color: var(--primary2);
  }
  .hero {
    height: 65vh;
  }
  .hero aside {
    margin-top: 0;
    width: 20vw;
  }
  .hero p {
    font-size: 2rem;
  }
  .hero div:first-child {
    min-width: 30vw;
  }
  .specials {
    padding: 10rem 22rem;
  }
  .testimonials article:nth-child(1):focus,
  .testimonials article:nth-child(2):focus {
    animation: from-left-to-center 0.5s linear forwards;
  }
  .testimonials article:nth-child(3):focus,
  .testimonials article:nth-child(4):focus {
    animation: from-right-to-center 0.5s linear forwards;
  }
  .overview {
    padding: 7rem 9rem;
  }
  .overview img {
    width: 15vw;
    height: 50vh;
  }
  .overview div:first-child {
    max-width: 40vw;
  }
  .overview img:nth-child(1) {
    transform: translate(5rem, -5rem);
  }
  .overview img:nth-child(2) {
    transform: translate(-5rem, 5rem);
  }
  .footer {
    flex-direction: row;
    gap: 7rem;
  }
  .footer-block > h3:first-child {
    width: auto;
  }
  .form-cont {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--highlight);
    margin: 3rem 0rem 5rem 10rem;
    border-radius: 16px;
    gap: 6rem;
    width: 75%;
    height: 75%;
    padding: 2rem;
  }
  .form-cont > div:first-child {
    border-radius: 16px;
    position: relative;
    width: 40%;
    height: 50vh;
    scale: 1.3;
    margin-left: 4rem;
  }
  .form-cont .highlight-overlay::after {
    content: "Make Your Reservation";
    position: absolute;
    left: 10%;
    top: 20%;
    color: var(--black);
    max-width: 100%;
    font-weight: bold;
    font-size: 60px;
    font-family: "Markazi Text";
  }
  .form-cont .highlight-overlay::before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit facilisis turpis eget laoreet.";
    position: absolute;
    left: 10%;
    top: 60%;
    color: var(--black);
    max-width: 100%;
    font-size: 20px;
    font-family: "Markazi Text";
  }
  .form-cont form {
    display: flex;
    flex-direction: column;
    background-position: 0 80%;
    width: 50%;
    gap: 1rem;
  }

  .input-container {
    width: 100%;
  }
  .footer-block .fa {
    margin-right: 2rem;
  }
  label {
    display: none;
  }
  .cart {
    scale: 0.9;
  }
  .menu-header h1 {
    font-size: 80px;
  }
  .menu-categories button {
    padding: 18px 34px;
  }
}
@media screen and (max-width: 527px) {
  .testimonials article:focus {
    animation: scale-out 0.5s linear forwards !important;
  }
  @keyframes scale-out {
    0% {
    }
    50% {
      /* transform:; */
    }
    100% {
      transform: scale(1.5);
    }
  }
}
.button-primary {
  background-color: var(--primary2);
  border-radius: 20px;
  border: 1px solid var(--primary2);
  font-weight: 600;
  padding: 10px 28px;
  font-size: 1.2rem;
}
.button-primary:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
.button-primary:disabled {
  background-color: var(--highlight);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
