html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  transition: all 0.3s ease;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  width: 100%;
}
/* 6. Improve media defaults
*/
.image,
picture,
video,
canvas,
svg {
  width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  overflow-wrap: break-word;
  font-family: "Markazi Text";
  font-weight: 400;
  line-height: 70%;
  margin-bottom: 1rem;
}
p {
  overflow-wrap: break-word;
}
main p {
  font-size: 1rem;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
}
#root {
  overflow: hidden;
}
